/*
** Doc Item
*/

.docItem {
  display: table;
}

.title {
  margin: 32px 0 32px 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #979797;

  font-size: 18px;
  font-weight: 300;
}

.paragraph {
  font-weight: 300;
  line-height: 1.5em;
  margin-bottom: 10px;
}

.header {
  margin-bottom: 16px;

  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

.content {
  display: table-cell;
  width: 70%;
  padding: 0 40px;
}

/*
** Tables
*/

.panel {
  margin-bottom: 35px;

  border: 1px solid #ddd;
  border-radius: 3px;
}

.table {
  width: 100%;

  font-size: 12px;
  font-weight: 400;
}

.tableRow {
  height: 38px;
}

.tableData {
  padding: 15px;
  border-top: 1px solid #E9E9E9;
  border-bottom: 1px solid #E9E9E9;

  text-align: left;
  line-height: 1.5em;
}

.tableHeader {
  composes: tableData;

  font-weight: 700;
}

.method {
  margin-right: 10px;

  text-transform: uppercase;
}

/*
** Example Section
*/

.example {
  display: table-cell;
  width: 30%;
  padding: 0 40px;

  background-color: #4A4A4A;
}

.exampleHeader {
  composes: header;

  color: #fff;
}

.code {
  display: block;
  padding: 20px 12px;

  background-color: #fff;
  border-radius: 3px;

  font-family: courier;
  font-size: 12px;
}
