.tableOfContents {
  margin-top: 15px;
  padding: 25px 5px;
  border-top: 1px solid #ddd;
}

.header {
  margin-bottom: 15px;

  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

.list {
  margin-bottom: 40px;
}

.listItem {
  margin-bottom: 13px;
}

.link {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  text-transform: capitalize;
  text-decoration: none;
}
